@model CoursesListViewModel

<div class="container">
    <h1>@Model.CurrentCategory</h1>
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var course in Model.Courses)
        {
            <partial name="_CourseCard" model="course"/>
        }
    </div>
</div>

